.env
docker.env
venv
celerybeat-schedule
.idea
*.pyc
*.sqlite3
*.db
*.session
*.session-journal
*.sql
/_test*.py
/logs/*

# docker
docker-compose-local.yml
docker.env

# media
/static
**/.DS_Store
/fixtures
/media/company/*
/media/job/locations/flags/*

# don't ignore
!.gitkeep